# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data files (щоб не палити свої дані)
data.json
data/

# CSV exports
*.csv

# Logs
*.log

# Temporary files
*.tmp

# Jupyter (якщо раптом)
.ipynb_checkpoints/

# Matplotlib cache
.matplotlib/